body {
			font-size: 2vmin;
		}
				body, body * {
			max-width: 100%;
			font-size: 2vmax;
		}


.players {
  width: fit-content;
  padding: 1em;
  padding-bottom: 0.1em;
  background-color: #112233;
}


.player {
  border-style: solid;
  border-width: 20%;
  border-color: white;
  background: cadetblue;
  padding: 0.5em;
  margin-bottom: 1em;
  margin-top:0.01em;
  background-color: #010101;
}





html {
  color: white;
  background: black;
}


input {
  color: white;
  background-color: black;
}

button {
  color: white;
  background-color: black;
}

.error {
  color: red;
  font-size: x-large;
}

